
 {% extends 'blog/base.html' %} 
 
  {% load staticfiles %} 
  {% block content %} 
  
   <p>This page was going to be about how useful PHP was, but then I decided that it is redundant when using Django
       So instead, you get CSS animations! </p> 

    <img class="roll-in-top" src="/static/images/kaliwhat.png" alt = "Kalista is Unpleased" />
    <img class= "shake-horizontal" src="/static/images/wrong_game.png" alt = "Season 5 got Weird" />
    <img class="fade-out" src="/static/images/peridoom.jpg" alt="Peridot is the best" />
  
    {% endblock %}