{% load staticfiles %}
<html>
    <head>
    <div id="container">   
        <title>Terry's Example Website</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Terry's SuperCool Website</a></h1>
        </div>
        <div class="nav-bar">
                <ul>
                        <li><a class="active" href="/">Home</a></li>
                        <li><a {% if request.get_full_path == "/blog" %}{% endif %} href="/blog">Blogs</a></li>
                        <li><a href="/diceroller">Dice Roller</a></li>
                        <li><a href="about.asp">Page 3</a></li>
                        <li style="float:right"><a href="/admin">Control Panel</a></li>
                </ul>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content%}
                    {% endblock %}
                </div>
            </div>
        </div>
        <footer>
            <p>Terry's Site Stuff
                <br /> Web Development &bull; EMCC
                <br />
                <a href="https://github.com/TerryGlen/My-First-Website">Github Code</a> |
                <a href="#">About This Site</a> |
                <a href="mailto:tg456@lions.eastms.edu">Contact Me</a>
            </p>
        </footer>
    </div>
    </body>
</html>