 {% extends 'blog/base.html' %} {% load staticfiles %} {% block content %}
<div class="post">
    <h1>Welcome</h1>
    
    <p>This website is created using HTML, CSS, Python, and Javascript. I have three pages dedicated to Python, Javascript, and
        CSS respectively, though you can find uses of every langague througout each page. </p>
        <br>
    <p> On the Blog page you will find an example of using Django to create Python object class called a Post. This class contains
        the values
        <ul>
            <li>Author</li>
            <li> Title</li>
            <li> Text</li>
            <li> Created Date</li>
            <li> Pulished Date</li>
        </ul>
    </p>
    <br>
    <p>Using the Control Panel above, I can create and directly edit these posts without having to edit the websites HtML every
        time I want to put in a new entry.</p>
        <br>
    <p> On the DiceRoller page I have created a simple Javascript file that contains multiple quick funtions that make use of Javascripts
        Math.random() function in order to give the user simulated dice rolls every time the approiate button is pressed. The
        Javascript file contains multiple functions that simply send the approiate maximum value to the base function
    </p>
    <br>
    <p>
        The final page, Animations. Uses CSS to standardize the size and shape of images and then uses webkit and keyframes to animate
        them approirately. The animations were made possible due to Animista by Ana Travis, whose website provided a quick and
        simply way to test and generate animations without having to manual edit keyframes via trail and error.
    </p>
    <br>
    <p>All of the pages on this website use Django's Template system so that there is a base HTML that contains the header and footer
        and the content of the page is stored in a seperate document makes up the body. In order to run the Python code framework
        I created a git repository on my local machine that I then hosted on Github. Then I used the web hosting service PythonAnywhere
        to render this site.
    </p>
    </div>


{% endblock %}